body{
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 800vw;
    max-height: 700vh;
    background-color: rgb(46, 46, 46);
}

#game-over,
#pause-game{

    position: absolute;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 20%;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
     
}

#game-over, #pause-game{
    display: none;
}

#restart{
    position: absolute;
    bottom: -50px;
    left: 40%;
    transform: translateX(-50%);
}

#pause{
    position: absolute;
    bottom: -50px;
    left: 60%;
    transform: translateX(-50%);
}

#board {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}

#info {
    display: flex;
    justify-content: space-between;
    margin: 2rem 7rem;
}

#info input {
    border-style: none;
    background-color: rgb(46, 46, 46);
}

#score {
    text-align: end;
}

#play {
    position: absolute;
    margin-top: 10rem;
    width: 10vw;
    height: 6vh;
    border-style: none;
    background-color:goldenrod;
    border-radius: 0.5rem;
    color: white;
}

